RHT_OCP4_MASTER_API=https://api.ap410r.prod.ole.redhat.com:6443/
RHT_OCP4_WILDCARD_DOMAIN=apps.na410r.prod.ole.redhat.com
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.na410r.prod.ole.redhat.com
RHT_OCP4_DEV_USER=vehzwx
RHT_OCP4_DEV_PASSWORD=019f903857de43138bd7
RHT_OCP4_GITHUB_USER=vinhlx90
RHT_OCP4_QUAY_USER=vinhlx90
